<%= bootstrap_form_for(@result, layout: :horizontal, label_col: 'col-md-2', control_col: 'col-md-6') do |f| %>

  <div class="row">
    <div class="col-md-8"><%= f.alert_message "Please fix the errors below." %></div>
  </div>
  
  <%= f.collection_select :user_id, User.all, :id, :collection_select_name, selected: current_user.id %>
  
  <%= f.collection_select :race_id, Race.all, :id, :collection_select_name, prompt: 'Select Race...' %>

  <%= f.text_field :duration, append: icon('clock-o') %>
  
  <%= f.text_field :date, 'data-provide' => 'datepicker', 'data-date-autoclose' => true, 'data-date-format' => 'dd M yyyy', value: @result.date_for_form, append: icon(:calendar) %>
  
  <%= f.text_area :comment, append: icon(:comment) %>

  <%= f.text_field :fastest_duration, label: 'Fastest Duration', append: icon('clock-o') %>

  <%= f.text_field :mean_duration, label: 'Mean Duration', append: icon('clock-o') %>

  <%= f.text_field :wind, append: icon(:flag) %>

  <%= f.text_field :position, append: icon('flag-checkered') %>

  <%= f.text_field :finishers, append: icon(:link) %>

  <%= f.text_field :timing_url, label: 'Strava URL', append: icon(:link) %>
  
  <%= f.text_field :strava_url, label: 'Timing URL', append: icon(:link) %>

  <%= f.submit 'Create', class: "btn btn-primary col-md-2" %>
<% end %>
