<div class="row">
  <h3 class="col-md-3"><%= icon(:calendar) %> <%= date_in_words(result.date) %></h3>
  <h3 class="col-md-2"><%= icon(:user, result.user.first_name) %></h3>
  <h3 class="col-md-2"><%= icon('arrows-h', "#{result.race.distance}km") %></h3>
  <h3 class="col-md-5"><%= icon(:bicycle) %> <%= link_to(result.race.name, result.race) %></h3>
</div>

<div class="row">
  <h3 class="col-md-3"><%= icon('clock-o') %> <%= link_to(duration_in_words(result.duration), result.timing_url) %></h3>
  <h3 class="col-md-4"><%= previous_time_difference(result) %></h3>
  <h3 class="col-md-5"><%= personal_best_time_difference(result) %></h3>
</div>
<div class="row">
  <h3 class="col-md-3"><%= icon('trophy') %><%= icon('clock-o') %> <%= duration_in_words result.fastest_duration %></h3>
  <h3 class="col-md-4">σ <%= icon('clock-o') %> <%= duration_in_words result.median_duration %></h3>
  <h3 class="col-md-5"><%= icon('flag-checkered') %> <%= result.position.to_i.ordinalize %> / <%= result.finishers %></h3>
</div>

<div class="row">
  <h3 class="col-md-3"><%= icon('flag') %> <%= result.wind %>km/h</h3>
  <h3 class="col-md-4"><%= icon('link') %> <%= link_to 'Timing Information', result.timing_url %></h3>
  <h3 class="col-md-5"><%= icon('link') %> <%= link_to 'Strava', result.strava_url %></h3>
</div>

<div class="row">
  <h4 class="col-md-12"><%= icon('comments') %> <%= result.comment %></h4>
</div>
