<h1>Edit <%= @result.name %></h1>

<%= render 'form' %>

<div class="row">
  <div class="col-md-offset-2 col-md-4">
    <%= link_to result_path(@result), method: :delete, class: 'btn btn-danger btn-block' do %>
      <%= icon(:trash) %> Delete
    <% end %>
  </div>

  <div class="col-md-4">
    <%= bootstrap_form_for(@result, url: timing_team_enrich_result_path(@result), method: :patch) do |f| %>
      <%= f.hidden_field :race_id %>
      <%= f.submit 'Enrich from The Timing Team...', class: 'btn btn-default btn-block' %>
    <% end %>
  </div>
</div>
