<div class="row title">
  <div class="col-md-10">
    <% if params[:result] %>
      <h1>Filtering Results</h1>
    <% else %>
      <h1>All Results</h1>
    <% end %>
  </div>
  <div class="col-md-2">
    <% if signed_in? %>
      <%= link_to 'Add New Result(s)', new_result_path, class: 'btn btn-primary pull-right' %>
    <% else %>
      <%= link_to 'Login to add New Result(s)', nil, class: 'btn btn-primary pull-right disabled' %>
    <% end %>
  </div>
</div>

<%= render 'filter_panel' %>

<% @results.each do |result| %>
  <div class="row result result-<%= result.id %> result-<%= result.race_date %>">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <h4 class="col-md-2 col-xs-7"><%= ion_icon(:calendar) %> <%= link_to(result.date, result) %></h4>
          <h4 class="col-md-2 col-xs-5"><%= ion_icon('ios-stopwatch-outline') %> <%= link_to(duration_in_words(result.duration), result.timing_url) %></h4>
          <h4 class="col-md-6 col-xs-12"><%= ion_icon('ios-location') %> <%= link_to(result.race.to_s, result.race) %></h4>
        </div>

        <div class="row">
          <h4 class="col-md-4 col-xs-12"><%= ion_icon('android-bicycle', text: result.user.first_name) %></h4>
          <h4 class="col-md-4 col-xs-12"><%= result.previous_time_difference(:duration) %></h4>
          <h4 class="col-md-4 col-xs-12"><%= personal_best_time_difference(result) %></h4>
        </div>

        <% if result.comment.present? %>
          <p><%= ion_icon('chatbubbles', text: result.comment) %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>