<div class="row">
  <div class="col-md-10">
    <h1>All Results</h1>
  </div>
  <div class="col-md-2 pull-right">
    <%= link_to 'Add New Result', new_result_path, class: 'btn btn-primary' %>
  </div>
</div>

<% @results.each do |result| %>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <h4 class="col-md-2"><%= icon(:calendar, date_in_words(result.date)) %></h4>
          <h4 class="col-md-10"><%= icon(:user, result.user.first_name) %></h4>
        </div>
        
        <div class="row">
          <h4 class="col-md-2"><%= icon('arrows-h', "#{result.race.distance}km") %></h4>
          <h4 class="col-md-10"><%= icon(:bicycle) %> <%= link_to(result.race.name, result.race) %></h4>
        </div>

        <div class="row">
          <h4 class="col-md-2"><%= icon('clock-o') %> <%= link_to(duration_in_words(result.duration), result.timing_url) %></h4>
          <h4 class="col-md-10"><%= display_time_difference_in_words(result.time_difference_between_previous) %></h4>
        </div>

        <p><%= icon(:comments, result.comment) %></p>
      </div>
    </div>
  </div>
<% end %>