<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @result.user.first_name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @result.race.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @result.date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @result.comment %>
</p>

<p>
  <strong>Timing URL:</strong>
  <%= @result.timing_url %>
</p>

<p>
  <strong>Strava URL:</strong>
  <%= @result.strava_url %>
</p>
