<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-primary result result-<%= @result.id %> result-<%= @result.slug %>">
    <div class="panel-heading" role="tab" id="current-heading">
      <div class="row">
        <div class="col-md-10">
          <h4 class="panel-title">Result Details</h4>
        </div>
        <% if signed_in? %>
          <div class="col-md-2">
            <%= link_to 'Edit', edit_result_path(@result), class: 'pull-right btn btn-default btn-xs' %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="current" role="tabpanel" aria-labelledby="current-heading">
      <div class="panel-body">
        <%= render @result %>
      </div>
    </div>
  </div>

  <% if @previous %>
    <div class="panel panel-info result result-<%= @previous.id %> result-<%= @previous.slug %>">
      <div class="panel-heading collapsed" role="tab" id="previous-heading" data-toggle="collapse" data-target="#previous" aria-expanded="false" aria-controls="previous">
        <h4 class="panel-title">
          <%= ion_icon(:expand, text: 'Previous Result') %>
        </h4>
      </div>
      <div id="previous" class="panel-collapse collapse" role="tabpanel" aria-labelledby="previous-heading">
        <div class="panel-body">
          <%= render @previous %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @personal_best %>
    <div class="panel panel-success result result-<%= @personal_best.id %> result-<%= @personal_best.slug %>">
      <div class="panel-heading collapsed" role="tab" id="best-heading" data-toggle="collapse" data-target="#best" aria-expanded="false" aria-controls="best">
        <h4 class="panel-title">
          <%= ion_icon(:expand, text: 'Personal Best Result') %>
        </h4>
      </div>
      <div id="best" class="panel-collapse collapse" role="tabpanel" aria-labelledby="best-heading">
        <div class="panel-body">
          <%= render @personal_best %>
        </div>
      </div>
    </div>
  <% end %>

</div>
